<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование типа</title>
    <style>
        th,td{
            border:solid black;
        }
    </style>

    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<div class="container"></div>
<h1>Редактировать тип</h1>
<form method="post" th:object="${type}">
    <input  th:field="*{TypeID}" class="form-control" type="hidden" placeholder="ID">

    <label>Название типа</label>
    <input th:field="*{typename}" class="form-control" type="text" placeholder="Название">
    <div th:if="${#fields.hasErrors('typename')}" th:errors="*{typename}" style="color: red"></div>
     <input class="btn btn-success" type="submit" value="Изменить тип">
</form>
<a class="btn btn-danger" href="/type/">Назад</a>
</div>
</body>
</html>