<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Заказы покупателей</title>
  <style>
    table {
      width: 100%; /* Ширина таблицы */
      border-collapse: collapse; /* Убираем двойные линии */
    }

    td, th {
       padding: 5px; /* Поля в ячейках */
      border: 1px solid #333; /* Параметры рамки */
    }
    tbody tr:nth-child(even) {
      background: #f0f0f0; /* Зебра */
    }
  </style>

  <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<h1>Список заказов</h1>
<table style="border: solid black">
  <tr>
    <th>Номер заказа</th>
    <th>Дата</th>
    <th>Товар</th>

  </tr>
  <tr th:each = "el : ${order_list}">
    <td th:text="${el.OrderID}"></td>
    <td th:text="${el.orderdate}"></td>
<td>
  <p th:if="${el.getTovar()}" th:text="${el.getTovar().tovarname}"></p>
</td>
    <td>
      <a th:href="'/order/detail/' + ${el.OrderID}">
        Информация
      </a>
    </td>
  </tr>

</table>
<div class="container">

<!--  <form method="get" action="/type/filtercontains/">-->
<!--    <input name="typename" type="text">-->
<!--    <input class="btn btn-info" type="submit" value="Найти">-->
<!--  </form>-->
</div>
</body>
</html>