
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление созвездия</title>
    <style>
        th,td{
            border:solid black;
        }
    </style>

    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<h1>Добавить созвездие</h1>
<form method="post" th:object="${constellations}">
    <label>Название созвездия</label>
    <input th:field="*{constellationsname}" class="form-control" type="text" name="Constellations_Name" placeholder="Название">
    <div th:if="${#fields.hasErrors('constellationsname')}" th:errors="*{constellationsname}" style="color: red"></div>
    <label>Количество звезд</label>
    <input th:field="*{Constellations_Number}" class="form-control" type="number" name="Constellations_Number" placeholder="Количество звезд">
    <div th:if="${#fields.hasErrors('Constellations_Number')}" th:errors="*{Constellations_Number}" style="color: red"></div>
    <label>Полушарие</label>
    <input th:field="*{Constellations_Hemisphere}" class="form-control" type="text" name="Constellations_Hemisphere" placeholder="Полушарие">
    <div th:if="${#fields.hasErrors('Constellations_Hemisphere')}" th:errors="*{Constellations_Hemisphere}" style="color: red"></div>
    <label>Сезон видимости</label>
    <input th:field="*{Constellations_Season}" class="form-control" type="text" name="Constellations_Season" placeholder="Сезон видимости">
    <div th:if="${#fields.hasErrors('Constellations_Season')}" th:errors="*{Constellations_Season}" style="color: red"></div>
    <label>Тип</label>
    <input th:field="*{Constellations_Type}" class="form-control" type="text" name="Constellations_Type" placeholder="Тип">
    <div th:if="${#fields.hasErrors('Constellations_Type')}" th:errors="*{Constellations_Type}" style="color: red"></div>
    <input class="btn btn-success" type="submit" value="Добавить созвездие">
</form>
<a class="btn btn-danger" href="/constellations/">Назад</a>
</body>
</html>