
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление созвездия</title>
    <style>
        th,td{
            border:solid black;
        }
    </style>

    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<h1>Добавить созвездие</h1>
<form method="post">
    <label>Название созвездия</label>
    <input class="form-control" type="text" name="Constellations_Name" placeholder="Название">
    <label>Количество звезд</label>
    <input class="form-control" type="number" name="Constellations_Number" placeholder="Количество звезд">
    <label>Полушарие</label>
    <input class="form-control" type="text" name="Constellations_Hemisphere" placeholder="Полушарие">
    <label>Сезон видимости</label>
    <input class="form-control" type="text" name="Constellations_Season" placeholder="Сезон видимости">
    <label>Тип</label>
    <input class="form-control" type="text" name="Constellations_Type" placeholder="Тип">

    <input class="btn btn-success" type="submit" value="Добавить созвездие">
</form>
<a class="btn btn-danger" href="/constellations/">Назад</a>
</body>
</html>