<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Созвездия</title>
    <style>
        th,td{
            border:solid black;
        }
    </style>

<header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<h1>Список созвездий</h1>
<a href="/constellations/add" class="btn btn-success">Добавить созвездие</a>
<table style="border: solid black">
    <tr>
        <th>Название</th>
        <th>Количество звезд</th>
        <th>Полушарие</th>
        <th>Сезон видимости</th>
        <th>Тип</th>
    </tr>
    <tr th:each = "el : ${constellations_list}">
        <td th:text="${el.constellationsname}"></td>
        <td th:text="${el.Constellations_Number}"></td>
        <td th:text="${el.Constellations_Hemisphere}"></td>
        <td th:text="${el.Constellations_Season}"></td>
        <td th:text="${el.Constellations_Type}"></td>
        <td>
            <a th:href="'/constellations/detail/' + ${el.ConstellationsID}">
                Редактировать
            </a>
        </td>
    </tr>
</table>
<div class="container">
    <form method="get" action="/constellations/filter/">
        <input name="constellationsname" type="text">
        <input class="btn btn-info" type="submit" value="Найти">
    </form>

    <form method="get" action="/constellations/filtercontains/">
        <input name="constellationsname" type="text">
        <input class="btn btn-info" type="submit" value="Найти">
    </form>
</div>
</body>
</html>
