<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Созвездия</title>
    <style>
        th,td{
            border:solid black;
        }
    </style>

    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<h1 th:text = "'Созвездие: ' + ${one_constellations.getConstellationsname()}"></h1>
<div class="container">
    <h2 th:text="'Количество звезд: ' + ${one_constellations.getConstellations_Number()}"></h2>
    <p th:text="'Полушарие: ' + ${one_constellations.getConstellations_Hemisphere()}"></p>
    <h2 th:text="'Сезон: ' + ${one_constellations.getConstellations_Season()}"></h2>
    <h2 th:text="'Тип: ' + ${one_constellations.getConstellations_Type()}"></h2>
</div>
<a th:href="'/constellations/detail/' + ${one_constellations.ConstellationsID} + '/del'"
   class="btn btn-danger">удалить</a>
<a th:href="'/constellations/detail/' + ${one_constellations.ConstellationsID} + '/upd'"
   class="btn btn-warning">редактировать</a>
<a href="/constellations/" class="btn btn-success">Назад</a>
</body>
</html>