<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление созвездия</title>
    <style>
        th,td{
            border:solid black;
        }
    </style>

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/about" class="nav-link px-2 link-secondary">Домашняя страница</a></li>
            <li><a href="/star/" class="nav-link px-2 link-dark">Список звезд</a></li>
            <li><a href="/planet/" class="nav-link px-2 link-dark">Список планет</a></li>
            <li><a href="/constellations/" class="nav-link px-2 link-dark">Список созвездий</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>


    </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container"></div>
<h1>Редактировать созвездие</h1>
<form method="post">
    <label>Название созвездия</label>
    <input th:value="${object.constellationsname}" class="form-control" type="text" name="constellationsname" placeholder="Название">
    <label>Количество звезд</label>
    <input th:value="${object.Constellations_Number}" class="form-control" type="number" name="Constellations_Number" placeholder="Количество звезд">
    <label>Полушарие</label>
    <input th:value="${object.Constellations_Hemisphere}"class="form-control" type="text" name="Constellations_Hemisphere" placeholder="Полушарие">
    <label>Сезон</label>
    <input th:value="${object.Constellations_Season}"class="form-control" type="text" name="Constellations_Season" placeholder="Сезон">
    <label>Тип</label>
    <input th:value="${object.Constellations_Type}"class="form-control" type="text" name="Constellations_Type" placeholder="Тип">
    <input class="btn btn-success" type="submit" value="Изменить созвездие">
</form>
<a class="btn btn-danger" href="/constellations/">Назад</a>
</div>
</body>
</html>