<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление созвездия</title>
    <style>
        th,td{
            border:solid black;
        }
    </style>

    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<div class="container"></div>
<h1>Редактировать созвездие</h1>
<form method="post">
    <label>Название созвездия</label>
    <input th:value="${object.constellationsname}" class="form-control" type="text" name="constellationsname" placeholder="Название">
    <label>Количество звезд</label>
    <input th:value="${object.Constellations_Number}" class="form-control" type="number" name="Constellations_Number" placeholder="Количество звезд">
    <label>Полушарие</label>
    <input th:value="${object.Constellations_Hemisphere}"class="form-control" type="text" name="Constellations_Hemisphere" placeholder="Полушарие">
    <label>Сезон</label>
    <input th:value="${object.Constellations_Season}"class="form-control" type="text" name="Constellations_Season" placeholder="Сезон">
    <label>Тип</label>
    <input th:value="${object.Constellations_Type}"class="form-control" type="text" name="Constellations_Type" placeholder="Тип">
    <input class="btn btn-success" type="submit" value="Изменить созвездие">
</form>
<a class="btn btn-danger" href="/constellations/">Назад</a>
</div>
</body>
</html>