<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Звезды</title>
    <style>
        th,td{
            border:solid black;
        }
    </style>

    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<h1>Список звезд</h1>
<div class="container">
<form method="get" action="/star/filter/">
    <input name="name" type="text">
    <input class="btn btn-info" type="submit" value="Найти">
</form>

<form method="get" action="/star/filtercontains/">
    <input name="name" type="text">
    <input class="btn btn-info" type="submit" value="Найти">
</form>
</div>
<a href="/star/add" class="btn btn-success">Добавить звезду</a>
<table style="border: solid black">
    <tr>
        <th>Название</th>
        <th>Класс</th>
        <th>Люмен</th>
    </tr>
<tr th:each = "el : ${star_list}">
    <td th:text="${el.name}"></td>
    <td th:text="${el.class_star}"></td>
    <td th:text="${el.lumen}"></td>
    <td>
        <a th:href="'/star/detail/' + ${el.UID}">
            Редактировать
        </a>
    </td>

</tr>
</table>
</body>
</html>