<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Звезды</title>
  <style>
    th,td{
      border:solid black;
    }
  </style>

  <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<h1 th:text = "'Звезда: ' + ${one_star.name}"></h1>
<div class="container">
  <h2 th:text="'Класс звезды: ' + ${one_star.getClass_star()}"></h2>
  <p th:text="'Светимость: ' + ${one_star.getLumen()} + 'люмен'"></p>
</div>
<a th:href="'/star/detail/' + ${one_star.UID} + '/del'"
   class="btn btn-danger">удалить</a>
<a th:href="'/star/detail/' + ${one_star.UID} + '/upd'"
   class="btn btn-warning">редактировать</a>
<a href="/star/" class="btn btn-success">Назад</a>
</body>
</html>