<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавление Звезды</title>
  <style>
    th,td{
      border:solid black;
    }
  </style>

  <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<h1>Добавить звезду звезд</h1>
<form method="post">
  <label>Название звезды</label>
  <input class="form-control" type="text" name="name" placeholder="Название">
  <label>Класс</label>
  <input class="form-control" type="text" name="class" placeholder="Класс звезды">
  <label>Светимость</label>
  <input class="form-control" type="number" name="lumen" placeholder="Светимость">
  <input class="btn btn-success" type="submit" value="Добавить звезду">
</form>
<a class="btn btn-danger" href="/star/">Назад</a>
</body>
</html>