<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавление Звезды</title>
  <style>
    th,td{
      border:solid black;
    }
  </style>

  <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<div class="container"></div>
<h1>Редактировать звезду</h1>
<form method="post" th:object="${star}">
  <input  th:field="*{UID}" class="form-control" type="hidden" placeholder="Название">

  <label>Название звезды</label>
  <input  th:field="*{name}" class="form-control" type="text"  placeholder="Название">
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div>
  <label>Класс</label>
  <input th:field="*{class_star}" class="form-control" type="text" placeholder="Класс звезды">
  <div th:if="${#fields.hasErrors('class_star')}" th:errors="*{class_star}" style="color: red"></div>
  <label>Светимость</label>
  <input th:field="*{lumen}" class="form-control" type="number" placeholder="Светимость">
  <div th:if="${#fields.hasErrors('lumen')}" th:errors="*{lumen}" style="color: red"></div>
  <input class="btn btn-success" type="submit" value="Изменить звезду">
</form>
<a class="btn btn-danger" href="/star/">Назад</a>
</div>
</body>
</html>