<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
  <style>
    table {
      width: 100%; /* Ширина таблицы */
      border-collapse: collapse; /* Убираем двойные линии */
    }

    td, th {
      padding: 5px; /* Поля в ячейках */
      border: 1px solid #333; /* Параметры рамки */
    }
    tbody tr:nth-child(even) {
      background: #f0f0f0; /* Зебра */
    }
  </style>

  <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<h1>Список людей</h1>

<a href="/registration" class="btn btn-success">Добавить пользователя</a>
<table style="border: solid black">
  <tr>
    <th>Логин</th>
    <th>Роли</th>
  </tr>
  <tr th:each = "el : ${user_list}">
    <td th:text="${el.username}"></td>
    <td>
      <div th:each="role:${el.roles}">
        <p th:text="${role}"></p>
      </div>

      </div>
    </td>
    <td>
      <a th:href="'/admin/' + ${el.id}">
        Редактировать
      </a>
    </td>

  </tr>
</table>
</body>
</html>