<div th:fragment="headerMain">
<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/about" class="nav-link px-2 link-secondary">Домашняя страница</a></li>
        <li><a href="/mark/" class="nav-link px-2 link-secondary">Марки</a></li>
        <li><a href="/contractor/" class="nav-link px-2 link-secondary">Поставщики</a></li>
        <li><a href="/additional/" class="nav-link px-2 link-secondary">Дополнения</a></li>
        <li><a href="/type/" class="nav-link px-2 link-secondary">Типы</a></li>
        <li><a href="/typepay/" class="nav-link px-2 link-secondary">Типы оплаты</a></li>
        <li><a href="/model/info" class="nav-link px-2 link-secondary">Модели</a></li>
        <li><a href="/sklad/info" class="nav-link px-2 link-secondary">Склады</a></li>

        <li>
            <h3 th:inline="text">Добро пожаловать [[${#httpServletRequest.remoteUser}]]!</h3>

        </li>
        <li> <form th:action="@{/logout}" method="post" >
            <input type="submit" value="Выход" class="btn btn-success"/>
        </form></li>

    </ul>



</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</div>