<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор Post</title>
</head>

<body bgcolor="#FFE4C4">
<div align="center">
<h1>Калькулятор Post</h1>
<form method="post" action="/about">
    <br> <input  type="text" name="number" value="number" th:value="${number}"><br>
    <br> <select name="action" id="action">
        <option value="P">Сложение</option>
        <option value="M">Вычитание</option>
        <option value="Y">Умножение</option>
        <option value="D">Деление</option>
    </select></br>
    <br><input type="text" name="number2" th:value="${number2}"></br>
    <br><input type="submit" value="Вычисление"></br>
    <u><br><label th:text="${itog1}"></label></br></u>
    <br> <a href="/home?number=1.0&action=P&number2=1.0" >Перейти на калькулятор Get</a></br>
</form>
</div>
</body>
</html>
