<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование марки</title>
    <style>
        th,td{
            border:solid black;
        }
    </style>

    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<div class="container"></div>
<h1>Редактировать марку</h1>
<form method="post" th:object="${mark}">
    <input  th:field="*{MarkID}" class="form-control" type="hidden" placeholder="ID">

    <label>Название марки</label>
    <input th:field="*{markname}" class="form-control" type="text" placeholder="Название">
    <div th:if="${#fields.hasErrors('markname')}" th:errors="*{markname}" style="color: red"></div>
    <label>Страна производства</label>
    <input th:field="*{markccountry}" class="form-control" type="text"  placeholder="Страна производства">
    <div th:if="${#fields.hasErrors('markccountry')}" th:errors="*{markccountry}" style="color: red"></div>
      <input class="btn btn-success" type="submit" value="Изменить марку">
</form>
<a class="btn btn-danger" href="/mark/">Назад</a>
</div>
</body>
</html>