<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Планеты</title>
    <style>
        th,td{
            border:solid black;
        }
    </style>

    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<h1>Список планет</h1>
<a href="/planet/add" class="btn btn-success">Добавить планету</a>
<table style="border: solid black">
    <tr>
        <th>Название</th>
        <th>Масса</th>
        <th>Возраст</th>
        <th>Система</th>
        <th>Обитаемость</th>
    </tr>
    <tr th:each = "el : ${planet_list}">
        <td th:text="${el.planetname}"></td>
        <td th:text="${el.Planet_Mass}"></td>
        <td th:text="${el.Planet_Age}"></td>
        <td th:text="${el.planetsistem}"></td>
        <td th:text="${el.Planet_Life}"></td>
        <td>
            <a th:href="'/planet/detail/' + ${el.PlanetID}">
                Редактировать
            </a>
        </td>
    </tr>
</table>
<div class="container">
    <form method="get" action="/planet/filter/">
        <input name="planetname" type="text">
        <input class="btn btn-info" type="submit" value="Найти">
    </form>

    <form method="get" action="/planet/filtercontains/">
        <input name="planetname" type="text">
        <input class="btn btn-info" type="submit" value="Найти">
    </form>
</div>
</body>
</html>