<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Планеты</title>
    <style>
        th,td{
            border:solid black;
        }
    </style>

    <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<h1 th:text = "'Планета: ' + ${one_planet.getPlanetname()}"></h1>
<div class="container">
    <h2 th:text="'Масса: ' + ${one_planet.getPlanet_Mass()}"></h2>
    <p th:text="'Возраст: ' + ${one_planet.getPlanet_Age()} + 'лет'"></p>
    <h2 th:text="'Система: ' + ${one_planet.getPlanetsistem()}"></h2>
    <h2 th:text="'Обитаемость: ' + ${one_planet.getPlanet_Life()}"></h2>
</div>
<a th:href="'/planet/detail/' + ${one_planet.PlanetID} + '/del'"
   class="btn btn-danger">удалить</a>
<a th:href="'/planet/detail/' + ${one_planet.PlanetID} + '/upd'"
   class="btn btn-warning">редактировать</a>
<a href="/planet/" class="btn btn-success">Назад</a>
</body>
</html>