<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавление планеты</title>
  <style>
    th,td{
      border:solid black;
    }
  </style>

  <header th:insert="/fragments/header :: headerMain"></header>
</head>
<body>
<div class="container"></div>
<h1>Редактировать планету</h1>
<form method="post">
  <label>Название планеты</label>
  <input th:value="${object.planetname}" class="form-control" type="text" name="planetname" placeholder="Название">
  <label>Масса</label>
  <input th:value="${object.Planet_Mass}" class="form-control" type="number" name="Planet_Mass" placeholder="Масса">
  <label>Возрасть</label>
  <input th:value="${object.Planet_Age}"class="form-control" type="number" name="Planet_Age" placeholder="Возрасть">
  <label>Система</label>
  <input th:value="${object.planetsistem}"class="form-control" type="text" name="planetsistem" placeholder="Система">
  <label>Обитаемость</label>
  <input th:value="${object.Planet_Life}"class="form-control" type="text" name="Planet_Life" placeholder="Обитаемость">
  <input class="btn btn-success" type="submit" value="Изменить планету">
</form>
<a class="btn btn-danger" href="/planet/">Назад</a>
</div>
</body>
</html>